<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Boot 1</title>
</head>
<body>

    <h1>스프링부트 Example 1</h1>
    
    <form method="get" th:action="@{/ex2}">
        <input type="text" name="keyword" placeholder="검색어 입력" required />
        <input type="submit" value="검색" />
    </form>
    
    <form method="get" th:action="@{/ex3}">
        <input type="text" name="q" placeholder="검색어 입력" />
        <input type="submit" value="검색" />
    </form>
    
    <form method="post" th:action="@{/ex4}">
        <input type="text" name="userId" placeholder="아이디 입력" required />
        <input type="password" name="pwd" placeholder="비밀번호 입력" required />
        <input type="submit" value="로그인" />
    </form>
    
    <form method="post" th:action="@{/ex5}">
        <input type="text" name="userId" placeholder="아이디 입력" required />
        <input type="password" name="pwd" placeholder="비밀번호 입력" required />
        <input type="submit" value="로그인" />
    </form>

</body>
</html>
